@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

body{
    margin: 0;
}
*body{
    box-sizing: border-box;
}

.main-Login{
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content:center;
    align-items: center;
}
.left-Login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-Login > h1{
   color: #6868ED;
}

.right-Login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-Login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 8px 10px 40px #00000056;
}

.card-Login > h1{
    color: #6868ED;
    font-weight: 800;
    margin: 0;
}


.textfield{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 8px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #514869;
    font-size: 12px;
    box-shadow: 0px 10px 10px;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color:#f0ffffde ;
    margin-bottom: 10px;
}

.textfield > input::placeholder{
color: #f0ffff94;
}
.btn-Login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #6868ED;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #263EEF;

}


@midia only screen and (max-width: 950px){
    .card-Login{
        width:85%
    }
}

@midia only screen and (max-width: 600px){
        .main-Login{
            flex direction:colunm;
        }
    .left-Login > h1{
        display:none;
    }
    .left-Login{
        width:100%;
        height:auto;
    }
    .right-Login{
        width:100%;
        height:auto;
    }
}